name: Deploy Web App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Apply
        run: |
          terraform init
          terraform apply -auto-approve -var="key_name=${{ secrets.KEY_NAME }}"
          echo "EC2_PUBLIC_IP=$(terraform output -raw ec2_public_ip)" >> $GITHUB_ENV
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}

      - name: Wait for SSH
        run: |
          for i in {1..30}; do
            nc -z $EC2_PUBLIC_IP 22 && echo "SSH Ready" && exit 0
            sleep 10
          done
          exit 1

      - name: Deploy Docker App via SSH
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ env.EC2_PUBLIC_IP }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            docker pull ${{ secrets.DOCKER_IMAGE }}
            docker stop $(docker ps -q) || true
            docker run -d -p 80:80 ${{ secrets.DOCKER_IMAGE }}

